body {
  margin: 3%;
  background-color: hsl(300, 24%, 96%);
  font-family: 'Spartan', sans-serif;
  height: 100vh;
}


.main-container {
  display: flex;
  background-color: white;
  padding-top: 40px;
}

.body-container {
  background-color: white;
}

.title {
  margin: 10px 350px 10px 30px;
  font-weight: 900;
  color: #522053;
  font-size: 50px;
}

.main-text > p {
  margin: 1px 200px 20px 30px;
}

.main-container > div:nth-child(1)  {
  flex: 4;
}


.stars {
  margin-right: 30px;
}

.star-ratings {
  margin-right: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
}


.rating-1, .rating-2, .rating-3 {
  background-color: hsl(300, 24%, 96%);
  padding: 10px 20px;
  display: flex;
  font-weight: 700;
  margin: 10px;
}

.rating-1 {
  align-self: flex-start;
}

.rating-2 {
  align-self: center;
}

.rating-3 {
  align-self: flex-end;
}

.reviewers
{
  display: flex;
}

.pfp {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}


.star-ratings {
  display: flex;
  flex-direction: column;
  background-color: white;
}


.rating-1, .rating-2, .rating-3 {
  padding: 10px 40px;
}



.reviews {
  height: 340px;
  display: flex;
  flex-direction: row;;
}





.review-1, .review-2, .review-3 {
  padding: 50px 30px;
  background-color: hsl(300, 43%, 22%);
  color: white;
  text-align: left;
  border-radius: 10px;
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
}

.review-1 {
  align-self: flex-start;
}

.review-2 {
  align-self: center;
}

.review-3 {
  align-self: flex-end;
}


.info-reviewer {
  display: flex;
  flex-direction: column;
}

.buyer-status {
  opacity: 0.6;
}

@media (max-width: 1000px)
{
  .review-1, .review-2, .review-3 {
    align-self: center;
  }
}


@media (max-width: 700px) {
  .main-container {
    flex-direction: column;
    text-align: center;
  }
  .rating-1, .rating-2, .rating-3 {
    flex-direction: column;
    align-self: center;
  }

  .reviews {
    flex-direction: column;
  }

  .review-1, .review-2, .review-3 {
    align-self: center;
  }

  .title {
    margin: 0px;
  }

}


.attribution {
  font-size: 11px;
  text-align: center;
  padding: 20px;
  background-color: #001122;
  color: white;
  margin-top: 600px;
}


.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  color: dodgerblue;
}
